.app-avatar:hover {
  transform: scale(1.1);
  transition: .5s ease-out;
  background-color: transparent;
}
.app-list__item {
    display: inline-block;
    width: 110px;
    height: 110px;
    position: relative;
    vertical-align: top;

    p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    &:hover {
        p {
            overflow: visible;
            white-space: normal;
            height: auto;
        }
    }
}

.app-link {
  transition: .2s linear;

  &:hover {
    color: #3a86f5;
  }
}

